---
layout: default
---

<div class="content">
  {{ content }}
</div>


<div class="row" >
  {% for post in site.posts reversed limit:5 %}
  <div class="span4">
    <a href="{{ site.baseurl }}{{ BASE_PATH }}{{ post.url }}">
      <h3>{{ post.title }}</h3>
    </a>

    <p >{% if post.banner %}
      <a href="{{ site.baseurl }}{{ BASE_PATH }}{{ post.url }}"><img src="{{ post.banner }}" style="max-height: 200px";width=auto;/></a>
      {% else %}
      <img src="/assets/nobanner.jpg" style="max-height: 200px";width=auto; />
      {% endif %}</p>

    <p>
      {{ post.content | strip_html | truncatewords:45 }}
    </p>
    <hr />
  </div>



  {% endfor %}
</div>



<a class="btn" href="/SemiAnnualChat/Archive">All Posts</a>